* {
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(#FFFFFF, #EBDCFF);
}

#banner {
    margin: 100px auto 120px auto;
    width: 87.5%;
    background-color: white;
    border-radius: 40px;
    border: 2px solid #872BFF10;
    padding: 20px 30px;
    background-image: url("../images/hero-bg.png");
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    width: 50%;
}

.banner-content h1 {
    font-size: 70px;
    font-weight: bold;
}

.banner-content h1 span {
    color: #f411cf;
}

.banner-content p {
    font-size: 18px;
    font-weight: 500;
    color: #A8A8A8;
}

.banner-content * {
    margin-bottom: 36px;
}

.banner-image img {
    width: 600px;
}

.banner-image {
    width: 50%;
}

.btn {
    background-color: #872BFF;
    border-radius: 30px;
    padding: 16px 32px;
    color: white;
    cursor: pointer;
    margin-right: 20px;
    border: none;
}

.btn-white {
    /* background-color: #872BFF; */
    border: 2px solid #872BFF;
    border-radius: 30px;
    padding: 16px 32px;
    /* color:white; */
    cursor: pointer;
    margin-right: 20px;
}

.heading-content {
    text-align: center;
}

.heading-content h4 {
    color: #f411cf;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 3px;
    margin-bottom: 14px;
}

.heading-content h2 {
    font-weight: bold;
    font-size: 44px;
    color: black;
    margin-bottom: 60px;
}

#service,
#story,#country {
    width: 87.5%;
    margin: 0px auto 120px auto;
}

#service-card-container {
    display: flex;
    justify-content: space-between;
    gap: 105px;
}

.service-card {
    background-color: white;
    text-align: center;
    padding: 20px 40px;
    width: 350px;
    border-radius: 30px;
}

.service-card img {
    margin-bottom: 60px;
}

.service-card h2 {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 30px;
}

.service-card p {
    color: #A8A8A8;
}

.story-card {
    background-color: white;
    padding: 48px;
    display: flex;
    border-radius: 24px;
    gap: 32px;
}

.story-content h2,
.story-content img,
.story-content p {
    margin-bottom: 12px;
}
#country-card-container{
    display: flex;
}